body{
    margin-top: 20px;
    position: center center;

}

.search-container{
  width: 490px;
  display: block;
  margin: -20px 200px;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  border-radius: 20px;    
 }

.search-container .search-icon{
  position: relative;
  /*float: right;*/
  width: 75px;
  height: 75px;
  top: -62px;
  left: 95%;
}


#posting-tab {
    display: none;
    width: 80%;
    margin: 30px auto;
}

/* Đóng bảng nhập (dấu x) */
#close {
  color: #aaaaaa;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#user-profile{
    margin-bottom: 30px;
}
#profile-pic{
    width: 48px;
    height: 48px;
    border-radius: 500px;
    margin: auto;
    float: left;
}
#profile-name{
    display: inline-block;
    margin-left: 10px;

}
#title{
    margin-bottom: 25px;
}
#content{
    margin-bottom: 25px;
}
#image{
    margin-bottom: 25px;
}
#post{
    margin-top: 30px;
}
.label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
#title-input{
    width: 99%;
    height: 22px;
    padding: 5px;
    border-radius: 3px;
    border-top: 1.5px solid gray;
    border-bottom: 1.5px solid gray;
    border-left: 1.5px solid gray;
    border-right: 1.5px solid gray;
}
#content-input{
    width: 99%;
    padding: 5px;
    border-radius: 3px;
    border-top: 1.5px solid gray;
    border-bottom: 1.5px solid gray;
    border-left: 1.5px solid gray;
    border-right: 1.5px solid gray;
    font-family: Arial, Helvetica, sans-serif;
}
#up-image-btn{
    border: 3px dashed rgb(150, 148, 148);
    width: 20%;
    height: 170px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
#up-image-btn:hover{
    cursor: pointer;
}
#post-btn{
    width: 20%;
    height: 30px;
    border-radius: 2px;
    border-top: 1px solid rgb(231, 172, 62);
    border-bottom: 1px solid rgb(231, 172, 62);
    border-left: 1px solid rgb(231, 172, 62);
    border-right: 1px solid rgb(231, 172, 62);
    color: white;
    background-color: rgb(233, 171, 56);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#post-btn:hover{
    cursor: pointer;
    background-color: rgb(243, 180, 62);
}
